:root{  
    --bg-color-grayish: hsl(240, 18%, 77%);
    --bg-color-dark: hsl(240, 38%, 20%) ;

    --text-color-dark: hsl(240, 38%, 20%);
    --text-color-grayish: hsl(240, 18%, 77%);
    --ft-family: 'Inter', sans-serif;
    --ft-size: 32px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    font-size: var(--ft-size);
    font-family: var(--ft-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/pattern-curve.svg') no-repeat bottom left;
    background-position: bottom left;
    background-size: auto;
}


.container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: -100px;
    gap: 40px;
    position: relative;
    background-position: calc(0% + 60px) calc(0% + 91px);
    z-index: 1;
}

.content__comment{
    position: relative;
    font-size: 1.7rem;
    font-weight: 300;
}

.content__comment::before{
    content: "";
    position: absolute;
    top: -52px; 
    left: 15%;
    width: 100px;
    height: 90px;
    background: url('../images/pattern-quotes.svg') no-repeat top left;
    background-size: contain;
    z-index: -1;
}


.content__info{
    display: flex;
    align-items: baseline;    
    gap: 10px;
}

.content__name{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color-dark);

}
.content__role{
    color: var(--text-color-grayish);
    font-size: 1.01rem;
    font-weight: 300;
}

.image {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.image::before {
    content: "";
    position: absolute;
    top: -56px; 
    left: 45%;
    transform: translateX(-45%);
    width: 820px;
    height: 600px;
    background: url('../images/pattern-bg.svg') no-repeat center center;
    background-size: contain;
    z-index: -1;
}


.img__person{
    border-radius: 10px;
    justify-content: center;
    width: 500px;
    height: 500px;
    box-shadow: hsla(240, 38%, 20%, 0.1) 0px 3px 12px;
}

.btn{
    display: flex;
    position: relative;
    width: 100px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 4px 4px 10px hsla(240, 38%, 20%, 0.6);
    bottom: 30px;
    right: 140px;
}

.btn button {
    width: 100%;
    height: 50px;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: white;
}


@media (max-width: 1200px) {
    .image::before{
        top: -29px; 
        transform: translateX(-46%);
        width: 100%;
        height: 100%;
    }

    .img__person{
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 900px) {

    body{
        margin: 0;
        padding: 0;
        background: url('../images/pattern-curve.svg') no-repeat bottom left;
        background-position: bottom left;
        background-size: auto 80px;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content{
        width: 100%;
        height: 100%;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .content__comment{
        font-size: 1.3rem;
    }

    .content__comment::before{
        top: -25px; 
        left: 44%;
        width: 60px;
        height: 50px;
    }

    .content__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image{
        width: 100%;
        height: 100%;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .image::before {
        top: -29px; 
        transform: translateX(-46%);
        width: 100%;
        height: 100%;
    }

    .img__person{
        width: 260px;
        height: 275px;
    }
    
    .btn{
        bottom: 30px;
        left: 0;
    }
}